examples/OTITFlow.json
[
  {
    "id": "a60535df.3f3478",
    "type": "tab",
    "label": "IT/OT Mapping"
  },
  {
    "id": "a1af19cf.be9288",
    "type": "inject",
    "z": "a60535df.3f3478",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 160,
    "wires": [
      [
        "9f9f9597.818418"
      ]
    ]
  },
  {
    "id": "9f9f9597.818418",
    "type": "data-generator",
    "z": "a60535df.3f3478",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "json",
    "template": "[{{int 1 65000}},{{int 1 65000}},{{int 1 65000}}]",
    "x": 300,
    "y": 160,
    "wires": [
      [
        "62c824bb.df8b8c"
      ]
    ]
  },
  {
    "id": "62c824bb.df8b8c",
    "type": "ISA-Machine-Mapper",
    "z": "a60535df.3f3478",
    "machineid": "b1ef4320.852f9",
    "name": "ISA95 structure Mapper 9",
    "topic": "MachineMapper",
    "register": "3",
    "group": "MixedType",
    "order": "1",
    "mappings": [
      {
        "structureType": "Object",
        "start": "",
        "quantity": "",
        "structureParentNodeId": "ns=0;i=85",
        "structureNodeId": "ns=7;s=macMachine1",
        "structureName": "macMachine1",
        "typeMachine": "",
        "typeStructure": "FolderType"
      },
      {
        "structureType": "Object",
        "start": "",
        "quantity": "",
        "structureParentNodeId": "ns=7;s=macMachine1",
        "structureNodeId": "ns=7;s=Level1macMachine1",
        "structureName": "Level1macMachine1",
        "typeMachine": "",
        "typeStructure": "FolderType"
      },
      {
        "structureType": "Variable",
        "start": "1",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level1macMachine1",
        "structureNodeId": "ns=7;s=Level1macParameter1",
        "structureName": "Level1macParameter1",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      },
      {
        "structureType": "Variable",
        "start": "2",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level1macMachine1",
        "structureNodeId": "ns=7;s=Level1macParameter2",
        "structureName": "Level1macParameter2",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      },
      {
        "structureType": "Variable",
        "start": "3",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level1macMachine1",
        "structureNodeId": "ns=7;s=Level1macParameter3",
        "structureName": "Level1macParameter3",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      },
      {
        "structureType": "Object",
        "start": "",
        "quantity": "",
        "structureParentNodeId": "ns=7;s=macMachine1",
        "structureNodeId": "ns=7;s=Level2macMachine1",
        "structureName": "Level2macMachine1",
        "typeMachine": "",
        "typeStructure": "FolderType"
      },
      {
        "structureType": "Variable",
        "start": "1",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level2macMachine1",
        "structureNodeId": "ns=7;s=Level2macParameter1",
        "structureName": "Level2macParameter1",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      },
      {
        "structureType": "Variable",
        "start": "2",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level2macMachine1",
        "structureNodeId": "ns=7;s=Level2macParameter2",
        "structureName": "Level2macParameter2",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      },
      {
        "structureType": "Variable",
        "start": "3",
        "quantity": "1",
        "structureParentNodeId": "ns=7;s=Level2macMachine1",
        "structureNodeId": "ns=7;s=Level2macParameter3",
        "structureName": "Level2macParameter3",
        "typeMachine": "UInt16",
        "typeStructure": "UInt16"
      }
    ],
    "x": 510,
    "y": 160,
    "wires": [
      [
        "8f23991f.3acc58"
      ],
      [
        "19f7acc9.31b383"
      ],
      [
        "19f7acc9.31b383"
      ]
    ]
  },
  {
    "id": "19f7acc9.31b383",
    "type": "ISA95-OPCUA-Server",
    "z": "a60535df.3f3478",
    "port": "53880",
    "name": "",
    "x": 760,
    "y": 160,
    "wires": [
      [
        "3396b0f6.3f08a"
      ]
    ]
  },
  {
    "id": "3396b0f6.3f08a",
    "type": "debug",
    "z": "a60535df.3f3478",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 970,
    "y": 160,
    "wires": []
  },
  {
    "id": "8f23991f.3acc58",
    "type": "debug",
    "z": "a60535df.3f3478",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 120,
    "wires": []
  },
  {
    "id": "b1ef4320.852f9",
    "type": "ISA-MachineId",
    "z": "a60535df.3f3478",
    "machine": "RealMachine",
    "interface": "ModbusTCP"
  }
]